@charset "UTF-8";
html {
  font-size: 20px;
}

@media screen and (min-width: 428px) {
  html {
    font-size: 16px;
  }
}

body {
  line-height: 1.8;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

.st-header {
  position: fixed;
  top: 0;
  height: 120px;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
}

.st-header__inner {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
}

.st-header__innerLogo {
  display: block;
  height: 40px;
  margin: 0;
}

.st-header__innerNav {
  display: flex;
  align-items: center;
}

.st-header__innerNavList {
  display: flex;
}

.st-header__innerNavListItem {
  margin-right: 40px;
}

.st-header__innerNavListItemLink {
  display: block;
  font-weight: bold;
  color: #443F3F;
}

.st-footer {
  font-size: 16px;
  background: #FFE6E6;
}

.st-footer__inner {
  max-width: 1120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  margin: 0 auto;
}

.st-footer__innerCompany {
  font-size: 24px;
}

.st-footer__innerNav {
  display: flex;
  align-items: center;
}

.st-footer__innerNavList {
  display: flex;
}

.st-footer__innerNavListItem {
  margin-right: 30px;
}

.st-footer__innerNavListItemLink {
  color: #443F3F;
}

.st-footer__innerNavSNS {
  display: flex;
  align-items: center;
}

.st-footer__innerNavSNSLink {
  display: block;
}

.st-footer__innerNavSNSLink img {
  width: 32px;
  height: 32px;
}

.st-footer__innerNavSNSLink:first-child img {
  height: 27px;
  margin-right: 30px;
}

.st-footer__copyright {
  background: #857979;
  color: #fff;
  padding: 15px 0;
  text-align: center;
}

.st-header {
  position: fixed;
  top: 0;
  height: 120px;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
}

.st-header__inner {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
}

.st-header__innerLogo {
  display: block;
  height: 40px;
  margin: 0;
}

.st-header__innerNav {
  display: flex;
  align-items: center;
}

.st-header__innerNavList {
  display: flex;
}

.st-header__innerNavListItem {
  margin-right: 40px;
}

.st-header__innerNavListItemLink {
  display: block;
  font-weight: bold;
  color: #443F3F;
}

.st-footer {
  font-size: 16px;
  background: #FFE6E6;
}

.st-footer__inner {
  max-width: 1120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  margin: 0 auto;
}

.st-footer__innerCompany {
  font-size: 24px;
}

.st-footer__innerNav {
  display: flex;
  align-items: center;
}

.st-footer__innerNavList {
  display: flex;
}

.st-footer__innerNavListItem {
  margin-right: 30px;
}

.st-footer__innerNavListItemLink {
  color: #443F3F;
}

.st-footer__innerNavSNS {
  display: flex;
  align-items: center;
}

.st-footer__innerNavSNSLink {
  display: block;
}

.st-footer__innerNavSNSLink img {
  width: 32px;
  height: 32px;
}

.st-footer__innerNavSNSLink:first-child img {
  height: 27px;
  margin-right: 30px;
}

.st-footer__copyright {
  background: #857979;
  color: #fff;
  padding: 15px 0;
  text-align: center;
}

.sw-pageTop {
  position: relative;
  background: #FF9A9A;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: block;
  color: #fff;
  text-decoration: none;
  /*opacity: 0;
    visibility: hidden;
    transition: opacity .5s;*/
}

.sw-pageTop span {
  position: absolute;
  font-size: 0.75rem;
  line-height: 1.2;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
}

.sw-pageTop span::before {
  content: "";
  position: absolute;
  top: -28px;
  left: -8px;
  display: block;
  width: 14px;
  height: 14px;
  border-bottom: 4px solid #fff;
  border-left: 4px solid #fff;
  transform: rotate(135deg);
}

.sw-pageTop.active {
  opacity: 1;
  visibility: visible;
  transition: opacity .5s;
}

.sw-pageTop:hover span::before {
  top: -38px;
  transition: all .3s;
}

.sw-btn {
  height: 48px;
  width: 200px;
  border-radius: 24px;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-decoration: none;
  transition: all ease 0.3s;
}

.sw-btn .sw-btn__inner {
  display: block;
}

.sw-btn .sw-btn__inner::before {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.sw-btn.buy {
  background: #FF9A9A;
}

.sw-btn.buy:hover {
  background: #fff;
  color: #FF9A9A;
  border: 1px solid #FF9A9A;
}

.sw-btn.buy:hover .sw-btn__inner {
  display: block;
}

.sw-btn.buy:hover .sw-btn__inner::before {
  background-image: url("img/cart_hover.png");
}

.sw-btn.buy .sw-btn__inner {
  display: block;
}

.sw-btn.buy .sw-btn__inner::before {
  content: "";
  width: 32px;
  height: 26px;
  margin-right: 0.4em;
  background-image: url("img/cart.png");
}

.sw-btn.buy.pc {
  height: 96px;
  width: 400px;
  border-radius: 48px;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-decoration: none;
  transition: all ease 0.3s;
  font-size: 32px;
}

.sw-btn.buy.pc .sw-btn__inner {
  display: block;
}

.sw-btn.buy.pc .sw-btn__inner::before {
  content: "";
  width: 64px;
  height: 52px;
}

.sw-btn.shop {
  background: #FFAE9A;
}

.sw-btn.shop:hover {
  background: #fff;
  color: #FFAE9A;
  border: 1px solid #FFAE9A;
}

.sw-btn.shop:hover .sw-btn__inner {
  display: block;
}

.sw-btn.shop:hover .sw-btn__inner::before {
  background-image: url("img/shop_hover.png");
}

.sw-btn.shop .sw-btn__inner {
  display: block;
}

.sw-btn.shop .sw-btn__inner::before {
  content: "";
  width: 32px;
  height: 26px;
  margin-right: 0.4em;
  background-image: url("img/shop.png");
}

.sw-btn.shop.pc {
  height: 96px;
  width: 400px;
  border-radius: 48px;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-decoration: none;
  transition: all ease 0.3s;
  font-size: 32px;
}

.sw-btn.shop.pc .sw-btn__inner {
  display: block;
}

.sw-btn.shop.pc .sw-btn__inner::before {
  content: "";
  width: 64px;
  height: 52px;
}

.lp-mv__innerBoxText {
  font-family: "游明朝", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-weight: 500;
}

.lp-shoping__inner {
  font-family: Verdana, "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.lp-shoping__innerHead {
  color: #804d4d;
}

.lp-mv__innerTextBox {
  font-family: "游明朝", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

.lp-shoping__inner {
  font-family: Verdana, "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.lp-shoping__innerHead {
  color: #804d4d;
}
