//色
$main: #FF9A9A;
//見出し
$mainh: #804d4d;
//強調
$mains: #BF7474;
//背景
$mainback: #FFE6E6;
$mainpaleback: #FFf5f5;
$sub: #FFAE9A;
$acc: #C5D28E;
$acc2: #D3E8E8;

$paleGray: #DCCFCF;
$gray: #857979;
$font: #443F3F;
$fontw: #fff;

$xl: 40px;
$l: 28px;
$lm: 24px;
$m: 20px; //pc時標準
$ms: 16px; //やや小さめ
$ms_s: 14px; //もっと小さめ
$s: 12px;//小さめ
//コンテンツ幅
$contl: 1520px;
$contm: 1320px;
$conts: 1120px;



//font-family
$yugothic:-apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
$meiryo: Verdana,"メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
$yumincho:"游明朝", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;

@mixin btnBase($h, $w, $br){
  height: $h;
  width: $w;
  border-radius: $br;
  display: flex;
  color: $fontw;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-decoration: none;
  transition: all ease 0.3s;
}
@mixin tbPad{
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}
@mixin spPad{
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
//PC最小幅とtb最大幅とsp最大幅を変数に入れる
$breakpoints: (
  'sp350': 'screen and (max-width: 350px)',
  'sp': 'screen and (max-width: 428px)',
  'sp540': 'screen and (max-width: 540px)',
  'tb': 'screen and (max-width: 768px)',
  'lt': 'screen and (max-width: 1024px)',
  'pc': 'screen and (min-width: 1025px)'
);


//スタイルだけでなくメディアクエリの処理ごと@includeで渡したいので中身に@contentをつけておく
@mixin media($breakpoint:tb) {
  @media #{map-get($breakpoints, $breakpoint)}{
    @content;  
  }
}



//base
html{
  font-size: $m;
  @include media(){
    font-size: $ms;
  }
}

body{
  line-height: 1.8;
  font-family: $yugothic;
}
//heading
//p
//ul,ol
ul, ol{
  list-style: none;
}
//a
a{
    text-decoration: none;
  &:hover, &:focus{
    text-decoration: underline;
  }
}
//btnなど
.sw{
  &-pageTop{
    position: relative;
    background: $main;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: block;
    color: $fontw;
    text-decoration: none;
    /*opacity: 0;
    visibility: hidden;
    transition: opacity .5s;*/
    span{
      position: absolute;
      font-size: 0.75rem;
      line-height: 1.2;
      bottom: 8px;
      left: 50%;
      transform: translateX(-50%);
      &::before {
        content: "";
        position: absolute;
        top: -28px;
        left: -8px;
        display: block;
        width: 14px;
        height: 14px;
        border-bottom: 4px solid  $fontw;
        border-left: 4px solid  $fontw;
      transform: rotate(135deg);
      }
    }
    &.active {
      opacity: 1;
      visibility: visible;
      transition: opacity .5s;
    }
    &:hover{
      span::before{
      top: -38px;
      transition: all .3s;
      }
    }
  }
  &-btn{ 
    @include btnBase(48px, 200px, 24px);
    & &__inner{
      display: block;
      font-size: $ms;
      font-weight: bold;
      &::before {
        content: "";
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        vertical-align:middle;
      }
    }
    &.buy{
      background: $main;
      &:hover{
        background: $fontw;
        color: $main;
        border: 1px solid $main;
          .sw-btn__inner{
            display: block;
            &::before {
              background-image: url("img/cart_hover.png");
              }
            }
        }
      .sw-btn__inner{
        display: block;
        &::before {
          content: "";
          width:32px;
          height: 26px;
          margin-right: 0.4em;
          background-image: url("img/cart.png");
          }
        }
      &.pc{
        @include btnBase(96px, 400px, 48px);
        @include media(lt){
          @include btnBase(48px, 200px, 24px);
          margin: 0 auto;
        }
        &:hover{
          color: $main;
        }
        .sw-btn__inner{
          display: block;
          font-size: 32px;
          @include media(lt){
            font-size: $ms;
          }
          &::before {
            content: "";
            width:64px;
            height: 52px;
            @include media(lt){
              width:32px;
              height: 26px;
            }
            }
          }
      }  

      }
      &.store{
        background: $sub;
        &:hover{
          background: $fontw;
          color: $sub;
          border: 1px solid $sub;
            .sw-btn__inner{
              display: block;
              &::before {
                background-image: url("img/store_hover.png");
                }
              }
          }
          .sw-btn__inner{
            display: block;
            &::before {
              content: "";
              width:32px;
              height: 26px;
              margin-right: 0.4em;
              background-image: url("img/store.png");
              }
            }
          &.pc{
            @include btnBase(96px, 400px, 48px);
            @include media(lt){
              @include btnBase(48px, 200px, 24px);
              margin: 0 auto;
            }
            &:hover{
              color: $sub;
            }
            .sw-btn__inner{
              display: block;
              font-size: 32px;
              @include media(lt){
                font-size: $ms;
              }
              &::before {
                content: "";
                width:64px;
                height: 52px;
                @include media(lt){
                  width:32px;
                  height: 26px;
                
                }
                }
              }
          }  
        }
  }
}


//header
//footer
.st{
  &-header{
    @include media(lt) {
      display: none;
    }
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    height: 120px;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    &__inner{

      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 100%;
      &Logo{
        display: flex;
        align-items: center;
        height: 40px;
        margin: 0;
      }
      &Nav{
        display: flex;
        align-items: center;
        @media (max-width: 1280px){
          font-size: $ms;
        }
        &List{
          display: flex;
          &Item{
            margin-right: calc((40 / 1920)* 100vw);
            &Link{
            display: block;
            font-weight: bold;
            color: $font;
            }
          }
        }
      }
    }
  }
  &-footer{
    font-size: $ms;
    background: $mainback;
    &__inner{
      max-width: 1160px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100px;
      margin: 0 auto;
      @include spPad();
      @include media(lt){
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 80px 0;
      }
      &Company{
        font-size: $lm;
        @include media(lt){
          margin-bottom: 40px;
        }
      }
      &Nav{
        display: flex;
        align-items: center;
        @include media(lt){
          flex-direction: column;
          justify-content: center;
          align-items: center;
          
        }
        &List{
          display: flex;
          @include media(lt){
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;
          }
          &Item{
            margin-right: calc((30 / 1920) * 100vw); 
            @include media(lt){
              margin-bottom: 20px;
            }
            &Link{
              color: $font;
            }
          }
        }
        &SNS{
          display: flex;
          align-items: center;
          &Link{
            display: block;
            img{
              width: 32px;
              height: 32px;
            }
            &:first-child{
              img{
              height: 27px;
              margin-right: 30px;
              }
            }
          }
        }
      }
    }
    &__copyright{
      background: $gray;
      color: $fontw;
      padding: 15px 0;
      text-align: center;
    }
  }
}
/*sp*/
.st{
  &-header{
    z-index: 100;
    &Sp{
      display: none;
      @include media(lt)  {
        display: block;
      }
      position: fixed;
      top: 0;
      height: 64px;
      background: rgba(255, 255, 255, 0.8);
      width: 100%;
      z-index: 100;
      &__inner{
        padding: 8px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        width: 100%;
        &Logo{
          display: block;
          height: 48px;
          margin: 0;
          &Link{
            display: block;
            height: 48px;
            &Img{
              display: block;
              height: 48px;
              }
            }
        }
        &Btn{
          background: transparent;
          cursor: pointer;
          padding-bottom: 0;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 40px;
          width: 40px;
          z-index: 1000;
          &Bar{
            background: $main;
            display: block;
            height: 8px;
            border-radius: 4px;
            
            position: absolute;
            top: 40%;
            right: 0;
            width: 40px;
            &::before, &::after{
              content: "";
              background: $main;
              height: 100%;
              left: 50%;
              margin: 0 0 0 -50%;
              position: absolute;
              top: 50%;
              width: 100%;
              border-radius: 4px;
            }
            &::before{
              margin-top: -48%;
            }
            &::after{
              margin-top: 28%;
            }
          }
        }
      }
    }
  }
}
//あえてSPmenuは分ける

.st-headerSpMenu{
  opacity: 0;
  background: $mainback;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1001;
  min-height: 100vh;
  width: 100vw;
  @include media(lt) {
    display: none;
    &.is-active{
      animation: hamburger-open .5s ease;
      display: block;
      opacity: 1;

    }
  }    
    &Nav{
      padding-top: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      &List{
        display: flex;
        flex-direction: column;
        align-items: center;
      &Item{
        margin-bottom: 1.5em;
        &Link{
        display: block;
        font-weight: bold;
        font-size: $lm;
        color: $font;
        }
      }
    }
    &Sns{
      &Link{
        &:first-child{
          margin-right:40px;
        }
      }
    }
  }
  &__closeBtn{   
      //display: none;
      box-sizing: border-box;
      background-color: transparent;
      cursor: pointer;
      height: 64px;
      width: 64px;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 200;
      border: none;
        &Bar{
        width: 24px;
        height: 24px;
        position: absolute;
        cursor: pointer;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        vertical-align: bottom;
        &::before, &::after{
          display: block;
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 8px;
          border-radius: 4px;
          height: 42px;
          margin: -76% 0 0 -10%;
          background: $main;
        }
        &::before{
          transform: rotate(-45deg);
        }
        &::after{
          transform: rotate(45deg);
        }
      }
    }
    .sw-btn.buy{
      margin-bottom:40px;
    }
}

//場所によっては例外もある
.lp{
  &-mv{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    @include media(){
      align-items: flex-start;
      justify-content: flex-start;
      @include tbPad();
    }
    @include media(sp){
      @include spPad();
    }
    &__inner{
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 5;
      @include media(){
        justify-content: flex-start;
        margin-top: 100px;
      }
      &Box{
        width: calc(100vw - 20.8vw);
        @include media(sp){
          width: 100%;
        }
        &Head{
          margin-left: -40px;
          @include media(){
            width: 85vw;
            margin-left: -20px;
          }
          @include media(sp){
            width: calc(100% + 20px);
          }


        }
        
        &Text{
          font-family: $yumincho;
          font-weight: bold;
          text-shadow: 0 0 3px rgba(255,255,255,1), 0 0 5px rgba(255,255,255,1), 0 0 7px rgba(255,255,255,1), 0 0 10px rgba(255,255,255,1), 0 0 10px rgba(255,255,255,1);
          @include media(sp540){
            font-size: $ms;
          }
        }
          
      }
      
    }
    &__list{
      &Item{
        min-height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        &01{
          z-index:2;
          .lp-mv__listItemHandcream{
            position: absolute;
            right: 20.8vw;
            height: ((760 / 1080) * 100vh);          
            top: calc(50% + 60px);
            transform: translateY(-50%);
            @include media(){
              top: auto;
              transform: translateY(0);
              bottom: 40px;
              height: ((315 / 667) * 100vh);
              right: ( (20 / 375) *100vw );
              margin-bottom: 20px;
            }
          }

        }
        &02{
          z-index:1;
          .lp-mv__listItemHand{
            position: absolute;
            right: 12vw;
            bottom: 0;
            max-height: 942px;
          }
          @include media(){
            height: ((315 / 667) * 100vh);
            right: ( (20 / 375) *100vw );

          }

        }
        &03{
          height: 100vh;
          background: url(img/mv03.jpg)  center / cover no-repeat;
          width: 100%; 
          z-index:0;
        }
        .lp-mv__listItemSakura01{
          max-width:313px;
          width: ((313 / 1920) * 100vw);
          position: absolute;
          left: 20px;
          top: 140px;
          @include media(){
            display: none;
          }
        }
        .lp-mv__listItemSakura02{
          max-width:260px;
          width: ((260 / 1920) * 100vw);
          position: absolute;
          right: 20px;
          bottom: 20px;
          @include media(){
            right: auto;
            left: calc((30 /667) * 100vw);
            bottom: 40px;
          }
        }

      }
    }
  }
  &-winter{
    min-height: 100vh;
    background: url(img/winter.jpg)  center / cover no-repeat;
    color: $fontw;
    font-family: $yumincho;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include media(){
      @include tbPad();
    }
    @include media(sp){
      @include spPad();
    }
    &__inner{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &Box{
        max-width: $contl;
        width: calc(100vw - 400px) ;
        @include media(lt){
          width: calc(100vw - 200px) ;
        }
        @include media(){
          width: 100%;
        }
        &Head{
          margin-bottom: 40px;
          &Img{
            display: block;
            @include media(){
              display: none;
            }
            &Tb{
              display: none;
              @include media(){
                display: block;
                margin: 0 auto;
              }
          }

          }
        }
        &Text{
          font-size: $l;
          @include media(){
            font-size: $lm;
            text-align: center;
          }
          @include media(sp540){
            font-size: $m;
          }
          @include media(sp350){
            font-size: $ms;
          }
          &:first-of-type{
            margin-bottom: 1em;
          }
        }
      }
    }


  }
  &-spring{
    min-height: 100vh;
    background: $mainpaleback;
    font-family: $yumincho;
    font-weight: bold;
    text-align: center;
    padding: 80px 0;
    box-sizing: border-box;
    position: relative; 
    @include media(){
      @include tbPad();
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @include media(sp){
      @include spPad();
    }
    &__inner{
      &Head{
        font-size: $xl;
        text-align: center;
        padding: 40px 50px;
        position: relative;
        max-width: 730px;
        max-height: 316px;
        margin: 0 auto;
        z-index:1;
        background: radial-gradient(#fff 66%, rgba(255,255,255,0.5) 70%,transparent 76%);
        margin-bottom: 40px;
        @include media(){
          font-size: $lm;
          padding: 20px 0;
          max-width: 440px;
        }
        @include media(sp){
          font-size: $m;
        }
      }
      &Img{
        &--hand{
          display: block;
          margin: 0 auto;
          max-width: 750px;
          width: 75vw;
        }
        &--sakura01{
          max-width: 510px;
          width: 26.56vw;
          position: absolute;
          left: 0;
          top: 300px;
          @include media(lt){
            display: none;
          }
        }
        &--sakura02{
          max-width: 516px;
          width: 26.875vw;
          position: absolute;
          right: 0;
          top: 300px;
          @include media(lt){
            display: none;
          }
        }
      }
    }
  }
  &-catch{
    min-height: 100vh;
    background: $mainback;
    font-family: $yumincho;
    &__inner{
      height: 100%;
      display: flex;
      min-height: 100vh;
      &Text{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        padding: 80px 0;
        box-sizing: border-box;
        @include media(lt){
          width: 100%;
          @include tbPad();
        }
        @include media(sp){
          padding-top: 40px;
          padding-bottom: 40px;
          @include spPad();
        }
        &Box{
          max-width: 560px;
          width: 62.5%;
          @include media(lt){
            width: 100%;
          }
          &Head{
            margin-bottom: 40px;
            &Img{
              @include media(){
                display: none;
              }
              &Tb{
                display: none;
                @include media(){
                  display: block;
                }  
              }
            }
          }
          &Text{
            font-size: $lm;
            @include media(){
              font-size: $m;
            }
            @include media(sp540){
              font-size: $ms;
            }
            &:not(:last-child){
              margin-bottom: 1em;
            }
            &Strong{
              font-weight: bold;

            }

          }
        }
      }
      &Img{
        background: url(img/lp-catch__innerImg.jpg) no-repeat center / cover;
        width: 50%;
        @include media(lt){
          display: none;
        }
      }

    }
  }
  &-sales{
    min-height: 100vh;
    box-sizing: border-box;
    @include tbPad();
    @include media(lt){
      padding-top: 80px;
      padding-bottom: 80px;
    }
    @include media(sp){
      @include spPad();
    }
    &__inner{
      display: flex;
      min-height: 100vh;
      @include media(lt){
        min-height: auto;
        flex-direction: column-reverse;
      }
      &Text{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        min-height: 100vh;
        @include media(lt){
          min-height: auto;
          width: 100%;
        }
        &Box{
          width: 520px;
          @include media(lt){
            width:80%;
          }
          @include media(){
            max-width: 560px;
            width:100%;
          }
          &Head{
            color: $mainh;
            font-weight: bold;
            margin-bottom: 0.5em;
            font-size: $xl;
            @include media(){
              font-size: $l;
            }
            @include media(sp){
              font-size: $lm;
            }
          }
          &Text{
            font-family: $meiryo;
            margin-bottom: 1em;
            @include media(sp){
              font-size: $ms_s;
            }
            &Through{
              text-decoration: line-through;
            }
            &Bargein{
              font-weight: bold;
              color: #c40000;
            }

          }

        }
      }
      
      &Ibox{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        min-height: 100vh;
        @include media(lt){
          min-height: auto;
          width: 100%;
        }
        &Img{
          display: block;
          height: calc((780 / 1080) * 100vh);
          @include media(lt){
            height: calc((272 / 667) * 100vh);
            margin-bottom: 40px;
          }
        }
      }
    }
  }
  &-features{
    min-height: 200vh;
    background: $mainback;
    padding: 80px 0;
    box-sizing: border-box;
    position: relative;
    @include tbPad();
    @include media(sp){
      @include spPad();
    }
    &__inner{
      &Head{
        text-align: center;
        margin-bottom: 80px;
        @include media(){
          max-width: 520px;
          margin: 0 auto 40px;
        }
        &Img{
          display: block;
          margin: 0 auto;

          @include media(){
            display: none;
          }
          &Tb{
            display: none;
            @include media(){
              display: block;
              margin: 0 auto;
            }  

          }
        }
      }
      &Flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: $contm;
        margin: 0 auto;
        @include media(){
          flex-direction: column;
        }
        &Box{
          max-width: 560px;
          width: calc((2 / 5)* 100vw);
          @include media(){
            width: 100%;
            margin: 0 auto;
          }
          &Head{
            color: $mainh;
            font-weight: bold;
            font-family: $yumincho;
            font-size: $l;
            @include media(){
              font-size: $lm;
            }
            @include media(sp){
              font-size: $m;
            }
          }
          &Img{
            margin-bottom: 20px;
            
          }
          &01{

          } 
          &02{
            margin-top: calc((460 / 1080)* 100vh);
            @include media(){
              margin-top: 80px;
            }
            @include media(sp){
              margin-top: 40px;
            }
          } 
          &03{
            margin-top: -200px;
            @include media(){
              margin-top: 80px;
            }
            @include media(sp){
              margin-top: 40px;
            }
          }
        }
      }
      &Img{
        &Sakura{
          @include media(){
            display: none;
          }
          position: absolute;
          &01{
            max-width: 472px;
            width: calc((472 / 1920) * 100vw); 
            top: 150px;
            right: 0;
            @include media(lt){
              width: calc((300 / 1024) * 100vw); 
            }
          }
          &02{
            max-width: 400px;
            width: calc((400 / 1920) * 100vw); 
            top: 53%;
            transform:translateY(-50%);
            left: 0;
            @include media(lt){
              top: 50%;
              width: calc((250 / 1024) * 100vw); 
            }
          }
          &03{
            max-width: 578px;
            width: calc((578 / 1920) * 100vw); 
            bottom: 0;
            right: 0;
            @include media(lt){
              width: calc((360 / 1024) * 100vw); 
            }
            
          }

        }
      }
    }
  }
  &-voice{
    min-height: 100vh;
    background: $mainpaleback;
    padding: 80px 80px;
    box-sizing: border-box;
    @include media (lt){
      padding: 80px;
    }
    @include media (){
      @include tbPad();
    }
    @include media (sp){
      @include spPad();
    }
    &__inner{
      &Head{
        text-align: center;
        margin-bottom: 80px;
        @include media (){
          margin-bottom: 40px;
        }
        &Img{//一時しのぎ
          display: block;
          margin: 0 auto;
          @include media (){
              width: 33vw;
          }
            
        }
      }
      &Flex{
        display: flex;
        max-width: $contm;
        margin: 0 auto 40px;
        justify-content: space-between;
        @include media (){
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          
        }
        &Box{
          max-width: 600px;
          width: calc((720 / 1920) * 100vw);
          @include media (lt){
            width: calc(50% - 20px);
          }
          @include media (){
            max-width: 560px;
            width: 100%;
            &:first-child{
              margin-bottom: 80px;
            }
          }
          @include media (sp){
            width: 100%;
            &:first-child{
              margin-bottom: 40px;
            }
          }
          &Name{
            font-size: $lm;
            color: $mainh;
            font-family: $yumincho;
            font-weight: bold;
            margin-bottom: 8px;
            @include media (){
              font-size: $m;
            }
            @include media (sp){
              font-size: $ms;
            }
          }
          &Text{
            line-height: 1.5;
            @include media (){
              font-size: $ms;
            }
            @include media (sp){
              font-size: $ms_s;
            }
          }
        }
      }
    }
    &__annotation{
      text-align: right;
      font-size: $ms;
      width: 100%;
      display: inline-block;
      @include media (sp){
        font-size: $s;
      }
    }
  }
  &-shop{
    min-height: 100vh;
    background: $mainback;
    font-family: $yumincho;
    position: relative;
    padding: 80px 0;
    box-sizing: border-box;
    @include media(){
      padding: 80px;
      @include tbPad();
    }
    @include media(sp){
      @include spPad()
    }
    &__inner{
      &Head{
        &Img{
          display: block;
          margin: 0 auto 80px;
          @include media(sp){
            margin: 0 auto 40px;
          }
        }
      }
      &Flex{
        display: flex;
        max-width: $contl;
        width:100%;
        text-align: center;
        margin: 0 auto;
        position: relative;
        height: calc((700 / 1080) * 100vh);
        @include media(){
          flex-direction: column;
          height: auto;
          align-items: center;
       
        }
        &Store{
          width:50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          
          @include media(){
            margin-bottom: 64px;
            width: 100%;
          }
          &::after {
            margin: 0;
            content: "";
            width: 2px;
            height: 100%;
            background-color: $font;
            position: absolute;
            left: 50%;
            height: calc((700 / 1080) * 100vh);
            top: 0;
            @include media(){
              position: static;
              width: 100%;
              height: 2px;
              margin-top: 64px;
            }
          }
          &Text{
            font-size: $l;
            margin-bottom: 80px;
            @include media(){
              font-size: $lm;
              margin-bottom: 40px;
            }
            @include media(sp){
              font-size: $m;
            }
          }
          .sw-btn.store.pc{
            margin: 0 auto;
            font-family: $yugothic;
          }

        }

        &Online{
          width:50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          @include tbPad();
          @include media(){
            margin-bottom: 40px;
            width: 100%;
          }
          &Text{
           font-size: $xl;
            margin-bottom: 80px;
            @include media(){
              font-size: $l;
              margin-bottom: 40px;
            }
            @include media(sp){
              font-size: $lm;
            }
          }
          .sw-btn.buy.pc{
            margin: 0 auto;
            font-family: $yugothic;
          }
        }
      }

    }
    &__Sakura{
      position: absolute;
      &01{
        max-width: 313px;
        width: ((313 / 1920) * 100vw);
        left: 20px;
        top: 100px;
        @include media(){
          top: 80px;
          left: 40px;
          width: ((190 / 767) * 100vw);
        }
        @include media(){
          top: 20px;
          left: 20px;
        }
      }
      &02{
        max-width: 260px;
        width: ((260 / 1920) * 100vw);
        right: 20px;
        bottom: 20px;
        @include media(){
          width: ((180 / 767) * 100vw);
          right: 40px;
          bottom: 40px;
        }
        @include media(sp){
          right: 20px;
          bottom: 20px;
        }
      }
    }
  }
}